.mainBlock{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    *{
        color: var(--color-1000);
    }
    h1{
        font:var(--text-circe-bold-40);
        margin: 24px 0 16px 0;
    }
    .quote{
        line-height: 1.1;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }
    p{
        font: var(--text-circe-regular-24);
    }
    @media (max-width: 1400px) {
        width: 880px;
        h1{
            font:var(--text-circe-bold-36)
        }
        p{
            font: var(--text-circe-regular-18);
        }
    }
    @media (max-width: 960px) {
        width: 520px;
        h1{
            font:var(--text-circe-bold-20);
            margin: 16px 0 8px 0;
        }
        .quote{
            margin-bottom: 16px;
        }
        p{
            font: var(--text-circe-regular-16);
        }
    }
    @media (max-width: 560px) {
        width: calc(100% - 40px);
        h1{
            font:var(--text-circe-bold-20);
            margin: 16px 0 8px 0;
        }
        .quote{
            margin-bottom: 16px;
            display: block;
        }
        p{
            font: var(--text-circe-regular-16);
        }
    }
}
.howToWork{
    display: flex;
    width: 1320px;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    gap:40px;
    *{
        color: var(--color-1000);
    }
    h2{
        font:var(--text-circe-bold-40);
        text-align: center;
    }
    @media (max-width: 1400px) {
        width: 880px;
        h2{
            font: var(--text-circe-bold-36);
        }
    }
    @media (max-width: 960px) {
        width: 520px;
        h2{
            font: var(--text-circe-bold-20);
        }
        gap: 16px;
    }
    @media (max-width:560px) {
        width: calc(100% - 40px);
        h2{
            font: var(--text-circe-bold-20);
        }
        gap: 16px;
    }
}
.arrows {
    position: absolute;
    display: flex;
    gap:165px;
    left: 284px;
    top:146px;
    width: 141px;
    @media (max-width: 1400px) {
        gap:119px;
        left:150px;
        top:123px;
        width: 113px;
    }
    @media (max-width: 960px) {
        gap:105px;
        left:100px;
        top:75px;
        width: 37px;
    }
    @media (max-width: 560px) {
        gap:87px;
        left:calc(50% - 10px);
        top:110px;
        width: 40px;
        flex-direction: column;
        img{
            rotate: 90deg;
            height: 26px;
            width: auto;
        }
    }

}
.containerHow{
    display: flex;
    justify-content: space-between;
    gap:40px;
    width: 1136px;
    margin: 0 auto;
    @media (max-width: 1400px) {
        width: 880px;
    }
    @media (max-width: 960px) {
        width: 520px;
    }
    @media (max-width: 560px) {
        width: calc(100% - 40px);
        gap:26px;
        flex-direction: column;
        align-items: center;
    }
}
.itemHow{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    max-width: 225px;
    img{
        width: 140px;
        height: 140px;
    }
    p{
        font: var(--text-circe-bold-24);
        text-align: center;
        line-height: 1.1;
    }
    @media (max-width: 1400px) {
        img{
            width: 104px;
            height: 104px;
        }
        p{
            font: var(--text-circe-bold-20)
        }
        width: 220px;
    }
    @media (max-width: 960px) {
        gap:8px;
        img{
            width: 85px;
            height: 85px;
        }
        p{
            font: var(--text-circe-bold-14)
        }
        width: 140px;
    }
    @media (max-width: 560px) {
        width: 100%;
        flex-direction: row !important;
        height: 80px;
        gap:16px;
        img{
            width: 80px;
            height: 80px;
        }
        p{
            font: var(--text-circe-bold-14);
            text-align: left;
        }
    }
}
.otrasl{
    display: flex;
    width: 1320px;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap:40px;
    *{
        color: var(--color-1000);
    }
    h2{
        font:var(--text-circe-bold-40);
        text-align: center;
    }
    @media (max-width: 1400px) {
        width: 880px;
        h2{
            font:var(--text-circe-bold-36)
        }
        gap: 36px;
    }
    @media (max-width: 960px) {
        width: 520px;
        h2{
            font:var(--text-circe-bold-20)
        }
        gap: 16px;
    }
    @media (max-width: 560px) {
        width: calc(100% - 40px);
        h2{
            font:var(--text-circe-bold-20)
        }
        gap: 16px;
    }
}
.containerOtrasl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 874px;
    gap:40px;
    position: relative;
    @media (max-width: 1400px) {
        width: 656px;
        gap:24px;
    }
    @media (max-width: 960px) {
        width: 520px;
        gap:16px;
    }
    @media (max-width: 560px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap:8px;
    }
}
.itemOtrasl{
    width: 339px;
    display: flex;
    gap:20px;
    align-items: center;
    img{
        width: 120px;
        height: 120px;
        background-color: var(--color-600);
        border-radius: 100px;
        padding: 29px;
    }
    h4{
        font: var(--text-circe-bold-24);
        line-height: 1.1;
    }
    @media (max-width: 1400px) {
        width: 256px;
        h4{
            font: var(--text-circe-bold-20);
        }
        img{
            width: 80px;
            height: 80px;
            padding: 17px;
        }
    }
    @media (max-width: 960px) {
        width: 244px;
        h4{
            font: var(--text-circe-bold-14);
        }
        img{
            width: 73px;
            height: 73px;
            padding: 13px;
        }
    }
    @media (max-width: 560px) {
        width: 100%;
        h4{
            font: var(--text-circe-bold-16);
            line-height: 1.1;
        }
        img{
            width: 63px;
            height: 63px;
            padding: 8px;
        }
    }
}
.bg{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    @media (max-width: 1400px) {
        width: 483px;
        height: auto;
    }
    @media (max-width: 960px) {
        width: 379px;
        height: auto;
    }
}
.parthners{
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1400px) {
        width: 880px;
    }
    @media (max-width: 960px) {
        width: 520px;
        flex-direction: column-reverse;
        gap: 36px;
        margin-bottom: 22px;
    }
    @media (max-width: 560px) {
        width: calc(100% - 40px);
        gap: 8px;
    }
}
.parthnersLogos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 468px;
    gap: 40px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(50% - 20px);
        height: 50%;
    }
    @media (max-width: 1400px) {
        width: 351px;
    }
    @media (max-width: 960px) {
        width: 100%;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        div{
            width: auto;
            height: auto;
        }
    }
    @media (max-width: 560px) {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px 9px;
    }
}
.parthnersText{
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    *{
        color: var(--color-1000);
    }
    h2{
        font:var(--text-circe-bold-40);
    }
    p{
        font: var(--text-circe-regular-24);
    }
    @media (max-width: 1400px) {
        width: 501px;
        gap: 24px;
        h2{
            font: var(--text-circe-bold-36);
        }
        p{
            font: var(--text-circe-regular-18);
        }
    }
    @media (max-width: 960px) {
        width: 100%;
        gap: 8px;
        h2{
            font: var(--text-circe-bold-20);
        }
        p{
            font: var(--text-circe-regular-16);
        }
    }
}
.helperMobile > div{
    width: 1320px;
    @media (max-width: 1400px) {
            width: 880px;
    }
    @media (max-width: 960px) {
            width: 520px;
    }
    @media (max-width: 560px) {
            width: 100%;
    }
}
@media (max-width: 560px) {
    .logo{
        width: 128px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: auto;
            height: 45px;
        }
    }
}
