.banner{
    width: 100%;
    background-color: var(--color-600);
    height: 564px;
}
/*.buttonLeft{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/
.products{
    width: 1320px;
    display: flex;
    flex-direction: column;
    gap:20px;
    margin: 0 auto;
    h2{
        font: var(--text-circe-bold-40);
        color: var(--color-1000);
    }
    .productsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:20px;
        button {
            width: 426.3px;
            height: 135px;
            border-radius: 20px;
            border: none;
            color: var(--color-1000);
            background-color: var(--color-200);
            position: relative;
            display: flex;
            gap:24px;
            padding: 15px 15px 15px 0;
            overflow: hidden;
            align-items: center;
            font: var(--text-circe-bold-24);
            text-align: left;
            line-height: 1.1;
            transition: scale 0.2s linear;
            cursor: pointer;
            &:hover{
                scale: 1.05
            }
        }
    }
    @media (max-width: 1400px) {
        width: 880px;
        gap: 24px;
        h2{
            font:var(--text-circe-bold-36)
        }
        .productsContainer{
            gap:24px;
            button {
                width: 277px;
                height: 98px;
                font: var(--text-circe-bold-18);
                padding-right:20px ;
            }
        }
    }
    @media (max-width: 960px) {
        width: 520px;
        gap: 16px;
        h2{
            font:var(--text-circe-bold-20)
        }
        .productsContainer{
            gap:10px;
            flex-direction: column;
            height: 450px;
            button {
                width: 255px;
                height: 92px;
                font: var(--text-circe-bold-18);
                padding-right:20px ;
            }
        }
    }
    @media (max-width: 560px) {
        width: calc(100% - 40px);
        gap: 12px;
        .productsContainer{
            gap:10px;
            flex-direction: column;
            flex-wrap: nowrap;
            height: unset;
            button {
                width: 100%;
                height: 84px;
                font: var(--text-circe-bold-16);
                padding-right:20px;
                border-radius: 7px;
            }
            .buttonLeft{
                width: 20px;
            }
        }
    }
}
.quote{
    width: 100%;
    position: relative;
    background-color: var(--color-600);
    span{
        width: 1320px;
        margin: 27px auto;
        font: var(--text-circe-regular-32);
        color:var(--color-1000);
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        @media (max-width: 1400px) {
            width: 789px;
            font: var(--text-circe-regular-24);
        }
        b{
            color:var(--color-1000);
        }

        @media (max-width: 960px) {
            width: 468px;
            font: var(--text-circe-regular-16);
            display: block;
        }
        @media (max-width: 560px) {
            width: 231px;
            font: var(--text-circe-regular-16);
            display: flex;
            line-height: 1.3;
        }
        b{
            color:var(--color-1000);
        }
    }

}
.bgquote1, .bgquote2{
    position: absolute;
    z-index: 10;
}
.bgquote1{
    left: 0;
    @media (max-width: 560px){
        width: 100%;
        height: 100%;
    }
}
.bgquote2{
    right: 0;
    @media (max-width: 1300px) {
        display: none;
    }

}