.block{
    display: flex;
    flex-direction: column;
    width: 1320px;
    margin: 0 auto;
    h2{
        font: var(--text-circe-bold-40);
        color: var(--color-1000);
        margin-bottom: 20px;
    }
    @media (max-width: 1400px) {
        width: 868px;
        h2{
            font: var(--text-circe-bold-36);
            margin-bottom: 24px;
        }
    }
    @media (max-width: 960px) {
        width: 520px;
        h2{
            font: var(--text-circe-bold-20);
            margin-bottom: 16px;
        }
    }
    @media (max-width: 560px) {
        width: calc(100% - 40px);
        h2{
            font: var(--text-circe-bold-20);
            margin-bottom: 12px;
        }
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    @media (max-width: 1400px) {
        img{
            width: 202px;
            height: 148px;
        }
    }
    @media (max-width: 960px) {
        gap:10px;
        img{
            width: 122.5px;
            height: 90px;
        }
    }
    @media (max-width: 560px) {
        gap:10px 20px;
        img{
            width: 130px;
            height: 96px;
        }
    }
}