.block{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    h2{
        font: var(--text-circe-bold-40);
        color: var(--color-1000);
        width: 1320px;
        margin: 0 auto 20px auto;
    }
    @media (max-width: 1400px) {
        h2{
            font: var(--text-circe-bold-36);
            margin-bottom: 24px;
            width: 868px;
        }
    }
    @media (max-width: 960px) {
        h2{
            font: var(--text-circe-bold-20);
            margin-bottom: 16px;
            width: 520px;
        }
    }
    @media (max-width: 560px) {
        width: calc(100% - 40px);
        h2{
            font: var(--text-circe-bold-20);
            margin-bottom: 12px;
        }
    }
}

.container::before,
.container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px; /* Ширина области размытия */
    pointer-events: none; /* Предотвращает взаимодействие с мышью */
    z-index: 2;
}
.container{
    position: relative;
}
.container::before {
    left: 0;
    background: linear-gradient(to right, rgba(231, 233, 231, 1), rgba(231, 233, 231, 0));
}

.container::after {
    right: 0;
    background: linear-gradient(to left, rgba(231, 233, 231, 1), rgba(231, 233, 231, 0));
}

.carusel{
    display: inline-flex;
    align-items:flex-start;
    justify-content: flex-start;
    width: calc(100vw - 20px);
    overflow: hidden;
    transition: transform 0.5s ease; /* Плавная анимация перемещения */
    gap:20px;
    @media (max-width: 1400px) {
        img{
            width: 202px;
            height: 148px;
        }
    }
    @media (max-width: 960px) {
        gap:10px;
        img{
            width: 122.5px;
            height: 90px;
        }
    }
    @media (max-width: 560px) {
        gap:10px 20px;
        img{
            width: 130px;
            height: 96px;
        }
    }
}