.block{
    width: 1400px;
    background-image:url("../../../Assets/Pictures/CHTI-bg.svg") ;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 1400px) {
        width: 960px;
    }
    @media (max-width:960px) {
        width: 560px;
        background-size: cover;
        background-position: center;
    }
    @media (max-width:560px) {
        width: calc(100% - 40px);
        background-size: 500px 300px;
        background-position: top center;
        background-color: var(--color-600);

    }
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
        object-fit: cover;
        width:50%;
    }
    @media (max-width:560px) {
        flex-direction: column;
        img{
            width: 100%;
        }
    }
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 15px 57px 40px;
    width: 710px;
    *{
        color: var(--color-1000);
    }
    h2{
        font:var(--text-circe-bold-40);
    }
    p{
        font: var(--text-circe-regular-24);
    }
    @media (max-width: 1400px) {
        width: 499px;
        padding: 30px 27px 34px 40px;
        h2{
            font:var(--text-circe-bold-36);
        }
        p{
            font: var(--text-circe-regular-18);
        }
    }
    @media (max-width:960px) {
        width: 255px;
        padding: 20px;
        h2{
            font:var(--text-circe-bold-20);
        }
        p{
            font: var(--text-circe-regular-16);
        }
    }
    @media (max-width:960px) {
        width: 100%;
        padding: 20px;
        h2{
            font:var(--text-circe-bold-20);
        }
        p{
            font: var(--text-circe-regular-16);
        }
    }
}