.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: var(--color-200);
}
.top{
    width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 36px auto 24px auto;
    height: 47px;
    @media (max-width: 1400px) {
        width: 880px;
    }
    @media (max-width: 960px) {
        width: calc(100% - 32px);
        height: 31px;
        margin: 16px auto 9px auto;
    }
}
.phone{
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 10px;
    @media (max-width: 960px) {
        display: none;
    }
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:4px;
    img{
        width: 33px;
        height: 33px;
        @media (max-width: 960px) {
            display: none;
        }
    }
}
.number{
    color: var(--color-1000);
    font: var(--text-circe-bold-20);
    text-decoration: underline;
}
.schedule{
    color: var(--color-1000);
    font: var(--text-circe-regular-18)
}
.bottom{
    width: 100%;
    background-color: var(--color-900);
    height: 56px;
    @media (max-width: 960px) {
        height: 42px;
    }
}
.bottomContent{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    @media (max-width: 1400px) {
        width: 880px;
    }
    @media (max-width: 960px) {
        width: calc(100% - 32px);
    }
}
.pages{
    display: flex;
    flex-direction: row;
    height: 56px;
    @media (max-width: 960px) {
        height: 42px;
    }
    button{
        font: var(--text-circe-bold-20);
        padding: 17px 32px;
        border:none;
        background-color: var(--color-900);
        transition: 0.3s ease-in-out background-color, color;
        @media (max-width: 960px) {
            padding: 10px 20px;
            font: var(--text-circe-bold-16);
        }
        &:hover{
            background-color: var(--color-600);
            color: var(--color-1000)
        }
        &.active{
            background-color: var(--color-600);
            color: var(--color-1000)
        }
    }
}
.search{
    position: relative;
    input{
        border-radius: 10px;
        width: 263px;
        background-color: var(--color-200);
        font: var(--text-circe-regular-20);
        padding: 5px 40px 5px 10px;
        @media (max-width: 960px) {
            width: 200px;
            font: var(--text-circe-regular-16);
        }
        &::placeholder{
            color: var(--color-700);
        }
        color: var(--color-1000);
        border: none;
        &:focus{
            border: none;
            outline: none;
        }
    }
    img{
        position: absolute;
        right: 3px;
        top: 1px;
        @media (max-width: 960px) {
            width: 26px;
            height: 26px;
        }
    }
}
.helper{
    position: relative;
    width: 158px;
    button{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        /*height: 100%;*/
    }
    @media (max-width: 960px) {
        width: fit-content;
        button{
            height: 42px;
        }
    }
}
.window1 {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: var(--color-900);
    button{
        font: var(--text-circe-bold-18);
    }
}
.window2 {
    display: flex;
    flex-direction: column;
    position: relative;
    button{
        background-color: var(--color-600);
        color: var(--color-1000);
        font: var(--text-circe-bold-16);
        padding: 15px 25px;
        &:hover{
            color:var(--color-200)
        }
    }
}
.buttons
{
    display: flex;
    flex-direction: column;
    button{
        width: 309px;
        text-align: left;
        padding: 12px 16px;

    }
}
@media (max-width: 960px) {
    .logo{
        width: 230px;
        height: 30px;
    }
}

