.block{
    width: 100%;
    background-color: var(--color-900);
    position: relative;
}
.background {
    position: absolute;
    left: -1039px;
    top:0;
    @media (max-width: 1400px) {
        left: -800px;
        min-width: 1150px;
    }
    @media (max-width: 960px) {
        left: -800px;
        min-width: 1150px;
    }
}
.content{
    width: 1320px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1400px) {
        width: 880px;
        gap: 36px;
    }
    @media (max-width: 960px) {
        width: 520px;
        gap: 24px;
    }
    @media (max-width: 560px) {
        width: calc(100% - 40px);
        flex-direction: column;
        margin: 20px auto;
    }
}
.text{
    display: flex;
    flex-direction: column;
    h2{
        font:var(--text-circe-bold-40);
        margin-bottom:40px;
    }
    @media (max-width: 1400px) {
        h2{
            font: var(--text-circe-bold-36);
            margin-bottom: 28px;
        }
    }
    @media (max-width: 960px) {
        h2{
            font: var(--text-circe-bold-20);
            margin-bottom: 24px;
        }
    }
    @media (max-width: 560px) {
        h2{
            font: var(--text-circe-bold-20);
            margin-bottom: 8px;
        }
    }
}
.item{
    display: flex;
    flex-direction: row;
    gap:8px;
    align-items: center;
    font: var(--text-circe-bold-24);
    line-height: 1.1;
    width: 370px;
    margin-bottom: 20px;
    color: var(--color-300);
    &:last-child{
        margin-top: 40px;
        margin-bottom: 0;
        cursor: pointer;
    }
    @media (max-width: 1400px) {
        width: 358px;
        font: var(--text-circe-bold-18);
        img{
            width: 28px;
            height: 28px;
        }
        &:last-child{
            margin-top: 20px;
            font:var(--text-circe-bold-16)
        }
    }
    @media (max-width: 960px) {
        width: 270px;
        font: var(--text-circe-bold-16);
        margin-bottom: 8px;
        &:last-child{
            margin-top: 16px;
            font:var(--text-circe-bold-16)
        }
    }
    @media (max-width: 560px) {
        width: 270px;
        font: var(--text-circe-bold-16);
        margin-bottom: 8px;
        &:last-child{
            margin-top: 8px;
            font:var(--text-circe-bold-16)
        }
    }
}
.mapContainer{
    width: 650px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    *{
        color: black;
    }
    img{
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 560px) {
        width: 100%;
    }
}
.map{
    width: 100%;
    height: auto;
}

.blockv2{
    width: 100%;
    position: relative;

}
.contentv2{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1400px) {
        width: 880px;
    }
    @media (max-width: 960px) {
        width: 520px;
    }
    @media (max-width: 560px) {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        gap: 8px;
    }
}
.backgroundv2{
    position: absolute;
    left: -500px;
    scale: 1.3;
    top:30px;
    @media (max-width: 1400px) {
        left: -500px;
        min-width: 800px;
        top: 0;
        scale: 1;
    }
    @media (max-width: 960px) {
        top:30px;
        left: -550px;
        min-width: 800px;
    }
    @media (max-width: 560px) {
        top:0;
        left: -600px;
        min-width: 800px;
    }
}
.textv2{
    display: flex;
    flex-direction: column;
    background-color: var(--color-900);
    position: relative;
    width: 650px;
    border-radius: 20px;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    height: 322px;
    .item:last-child{
        margin: 0;
    }
    @media (max-width: 1400px) {
        width: 430px;
        height: 258px;
        padding: 36px;
    }
    @media (max-width: 960px) {
        width: 299px;
        height: auto;
        padding: 24px;
        border-radius: 15px;
        .item{
            width: auto;
            align-items: flex-start;
        }
    }
    @media (max-width: 560px) {
        width: 100%;
        height: auto;
        padding: 24px 12px;
        .item{
            width: auto;
            align-items: flex-start;
        }
    }
}
.mapContainerv2{
    width: 650px;
    border-radius: 20px;
    overflow: hidden;
    height: 322px;
    *{
        color: black;
    }
    img{
       height: 100%;
        width: 100%;
        object-fit: cover;
    }
    @media (max-width: 1400px) {
        width: 430px;
        height: 258px;
    }
    @media (max-width: 960px) {
        width: 211px;
        height: 205px;
    }
    @media (max-width: 560px) {
        width: 100%;
        height: 200px;
        border-radius: 15px;
    }
}
